<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="port" value="587" />
    <add key="emailFrom" value="gnougo2009@gmail.com" />
    <add key="from_password" value="********" />
    <add key="emailTo" value="ouattaralagninyismael@gmail.com" />
    <add key="LogPath" value="C:\CommitmentTracking\Logs\JobApp\" />
    <add key="LogPathAction" value="C:\CommitmentTracking\Logs\JobApp\Action\" />
    <add key="LogPathAlert" value="C:\CommitmentTracking\Logs\JobApp\Alert\" />
    <add key="traite_mail" value="C:\inetpub\wwwroot\html_template\TrackingJob\" />
    <add key="terme_mail" value="C:\inetpub\wwwroot\html_template\TrackingJob\" />
    <!--<add key="key" value="01e501a712234b7b1683c230e41db6e9f32ce3ad96b3a159cbc08b749574eaf3"/>-->
  </appSettings>
<connectionStrings>
  <add name="CommitmentDBEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ISMO\SQLEXPRESS;initial catalog=CommitmentDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>