<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
	<add key="from" value="afrilandfirstbank.ci@afrilandfirstbankci.com" />
	<add key="to" value="ouattaralagninyismael@gmail.com" />
	<add key="password" value="?H?ke2=ig.6b" />
	<add key="smtp" value="afril756.hostpapavps.net" />
	<add key="port" value="587" />
    <add key="emailTo" value="ouattaralagninyismael@gmail.com" />
    <add key="LogPath" value="C:\CommitmentTracking\Logs\JobApp\" />
    <add key="LogPathAction" value="C:\CommitmentTracking\Logs\JobApp\Action\" />
    <add key="LogPathAlert" value="C:\CommitmentTracking\Logs\JobApp\Alert\" />
    <add key="traite_mail" value="C:\inetpub\wwwroot\html_template\TrackingJob\traite_mail.html" />
    <add key="terme_mail" value="C:\inetpub\wwwroot\html_template\TrackingJob\terme_mail.html" />
    <add key="avant_echeance" value="C:\inetpub\wwwroot\html_template\TrackingJob\mail_avant_echeance.html" />
    <add key="apres_echeance" value="C:\inetpub\wwwroot\html_template\TrackingJob\mail_apres_echeance.html" />
    <add key="suivi_decision" value="C:\inetpub\wwwroot\html_template\TrackingJob\suivi_decision.html" />
    <!--<add key="key" value="01e501a712234b7b1683c230e41db6e9f32ce3ad96b3a159cbc08b749574eaf3"/>-->
  </appSettings>
<connectionStrings><add name="CommitmentDBEntities" connectionString="metadata=res://*/Model.Model.csdl|res://*/Model.Model.ssdl|res://*/Model.Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DSIRI56-80;initial catalog=CommitmentDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>